html {
	font-size: 12px;
	min-width: 1080px;
	height: 100%;
}
body {
	min-height: 100%;
	box-sizing: border-box;
	padding-bottom: 450px;
	position: relative;
}
.w {
	width: 1070px;
	margin: 0 auto;
}

/* ------header------ */
.header {
	height: 30px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f4f4f4;
	line-height: 30px;
}
.page {
	display: inline-block;
	padding-left: 10px;
	cursor: pointer;
}
.page>i {color: #ff4040;}
.page>span {padding-left: 3px;}
.page>span:hover {color: #ff4040;}
.hint {
	padding-left: 30px;
	width: 600px;
	display: inline-block;
	cursor: pointer;
}
.hint>i {
	color: #ff4040;
	vertical-align: middle;
	font-size: 20px;
}
.hint>span {padding-left: 3px;}
.hint>span:hover {color: #ff4040;}
.topbar {display: inline-block;}
.topbar>ul>li {display: inline-block;}
.global {
	padding: 0 10px;
	display: inline-block;
}
.global>span {display: inline-block;}
.global>p.login {
	display: inline-block;
	color: #ff4040;
	cursor: pointer;
}
.global>p.registration {
	color: #aaa;
	padding-left: 8px;
	cursor: pointer;
	display: inline-block;
}
.global>p.registration:hover {color: #ff4040;}
.after-hello{
	padding: 0 5px;
	display: inline-block;
}
.after-hello>span {display: inline-block;}
.after-hello>p.name {
	display: inline-block;
	color: #ff4040;
	cursor: pointer;
}
.after-hello>p.exit {
	color: #aaa;
	padding-left: 5px;
	cursor: pointer;
	display: inline-block;
}

.club {
	padding: 0 7px;
	border-left: 1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;
	cursor: pointer;
}
.club:hover {color: #ff4040;}
.club>i {
	vertical-align: middle;
	font-size: 18px;
}
.order {
	padding: 0 7px;
	border-right: 1px solid #f4f4f4;
	cursor: pointer;
}
.order:hover {color: #ff4040;}
.order>i {
	vertical-align: middle;
	font-size: 20px;
}

/* ------top------ */
.top {position: relative;}
.top-logo {
	display: inline-block;
	width: 400px;
}
.main-logo {display: inline-block;}
.main-logo>img {
	width: 140px;
	height: 140px;
}
.sub-logo {display: inline-block;}
.sub-logo>img {
	width: 160px;
	height: 90px;
	margin-bottom: 25px;
}
.top-right {
	display: inline-block;
	width: 650px;
	padding-top: 50px;
}
.right-search {
	position: absolute;
	top: 50px;
	left: 400px;
}
.search-box {position: relative;}
.search-box>input {
	border: 1px solid #e2e2e2;
	width: 476px;
	border-radius: 100px;
	height: 38px;
	line-height: 38px;
	color: #333;
	background: #fcfcfc;
	padding-left: 32px;
	font-size: 14px;
	outline: none;
}
.search-box>i {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 24px;
}
.search-box:hover>input {border-color: #FF4141;}
.right-search>p {
	height: 19px;
	padding-top: 8px;
	padding-left: 32px;
}
.right-search>p>a {
	margin-right: 10px;
	line-height: 19px;
	font-size: 14px;
	color: #aaa;
}
.right-search>p>a:hover {color: #333333;}
.right-cart {
	position: absolute;
	top: 50px;
	right: 20px;
	cursor: pointer;
}
.right-cart:hover>a {background-color: #E3E3E3;}
.right-cart>a {
	display: block;
	width: 120px;
	height: 20px;
	line-height: 20px;
	padding: 9px 0 9px;
	border: 1px solid #e2e2e2;
	border-radius: 100px;
	background-color: #fff;
	text-align: center;
	color: #333;
	font-size: 16px;
}
.right-cart>a>i {
	margin-right: 6px;
	font-size: 18px;
	color: #272636;
}

/* -------aside------- */
.aside {
	position: fixed;
	left: 50%;
	margin-left: 540px;
	z-index: 10000;
	display: none;
}
.aside-top {
	cursor: pointer;
	display: block;
}
.aside>div.aside-middle {
	background-color: #fff;
	font-size: 14px;
	color: #333;
	text-align: center;
	width: 100px;
}
.aside>div.aside-middle>p {
	height: 30px;
	line-height: 30px;
}
.aside>div.aside-middle>img.code {
	width: 76px;
	cursor: pointer;
}
.aside>div.aside-middle>img.logo {
	width: 100px;
	cursor: pointer;
}
.aside-bottom {
	width: 100%;
	height: 40px;
	background-color: #fff;
	border-top: 1px solid #f0f0f0;
	font-size: 14px;
	cursor: pointer;
	position: relative;
	display: block;
	text-align: center;
	line-height: 40px;
}
.aside-bottom>i {
	color: #272636;
	font-size: 20px;
}
.aside-bottom>span {
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	color: #333333;
}
.rocket {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #444;
	color: #fff;
	cursor: pointer;
}
.rocket>span {font-size: 14px;}

/* --------loading-------- */
.loading>img {margin: 20px 0 20px 520px;}

/* ------footer------ */
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 450px;
	background-color: #FFF;
}
/* footer-discount */
.footer-discount {
	padding: 30px 0;
	border-bottom: 1px solid #ebebeb;
}
.footer-discount>a {
	float: left;
	width: 205px;
	margin-right: 81px;
}
.footer-discount>a:nth-child(4) {margin-right: 0;}
.footer-discount>a>img {
	margin-right: 15px;
	float: left;
}
.footer-discount>a>h4 {
	display: block;
	margin-top: 10px;
	font-size: 16px;
	color: #333;
}
.footer-discount>a>span {
	font-size: 14px;
	color: #999;
}
/* footer-list */
.footer-list {padding: 20px 0 20px;}
.list-left {
	float: left;
	padding-left: 15px;
}
.list-left>dl {
	float: left;
	display: block;
	width: 195px;
}
.list-left>dl>dt {
	height: 32px;
	line-height: 32px;
	padding: 0 8px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
}
.list-left>dl>dd {
	height: 24px;
	line-height: 24px;
	padding: 0 8px;
	font-size: 12px;
}
.list-right {
	width: 280px;
	margin-right: -50px;
	float: left;
}
.list-right>a {
	margin-right: 50px;
	line-height: 32px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	float: left;
}
.list-right>a>p {font-size: 14px;}
.list-right>a>img {
	width: 90px;
	height: 90px;
}
/* footer-contact */
.contact-link {
	color: #666;
	text-align: center;
	margin: 15px 0;
}
.contact-link>p {
	color: #333;
	padding: 0px 3px;
	display: inline-block;
	border-right: 1px solid #666;
}
.contact-link>p:nth-child(9) {border-right: 1px solid transparent;}
.footer-contact>p {
	color: #666;
	text-align: center;
	margin: 15px 0;
}
.contact-banner {
	display: block;
	padding: 10px 0 20px;
	text-align: center;
}
.contact-banner>img {margin: 0 4px;}

